*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Roboto', sans-serif; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

.main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center; }

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid black;
  padding: 2rem; }

.register-container {
  display: flex;
  align-items: center; }
